.nav-tabs > .nav-link{
    font-size:1.1rem;
    color:#101C42;
    background-color: #CED4F3;
}

.nav-tabs > .nav-link a:hover{
    color:white;
}

.nav-tabs > .nav-link.active{
    background-color: #3A506B;
    color:white;
}
