.nav-tabs > .nav-link{
    font-size:1.1rem;
    color:black;
    background-color: #B8B8CD;
}

.nav-tabs > .nav-link a:hover{
    color:#9ddfd3;
}

.nav-tabs > .nav-link.active{
    background-color: #9ddfd3;
}
